.box {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 735px;
  top: 21px;

  background: #1c1243;
  border-radius: 15px;
}

.container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}
.row {
  padding: 15px;
  border-radius: 5px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 50px;
  /* height:80vh; */
}

.leftGrid {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.rightGrid {
  display: none;
}

.remMe {
  left: 149px;
  top: 579px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #1c1243;
}

.forgetPswrd {
  left: 495px;
  top: 579px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #1c1243;
}
.signIn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #1c1243;
}

.num {
  color: white;
  text-align: right;
  padding: 25px;
}
.img {
  display: flex;
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
}

.d-flex {
  display: flex;
}

.a-items {
  align-items: center;
}

.j-center {
  justify-content: center;
}
.j-between {
  justify-content: space-between;
}
.m-l-10 {
  margin-left: 20px;
}

.m-t-20 {
  margin-top: 20px;
}
.m-t-80 {
  margin-top: 80px;
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  .m-l-50 {
    margin-left: 50px;
  }
}

.m-t-10 {
  margin-top: 25px;
}

.loginBtn {
  width: 450px;
  background-color: #643fdb;
  border-radius: 5px;
  height: 50px;
  padding: 5px;
  color: white;
}

.input-w {
  width: 450px;
}
@media only screen and (max-width: 300px) and (min-width: 200px) {
  .input-w {
    width: 150px;
  }
  .loginBtn {
    width: 150px;
    background-color: #643fdb;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    color: white;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .input-w {
    width: 250px;
  }
  .loginBtn {
    width: 250px;
    background-color: #643fdb;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    color: white;
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .input-w {
    width: 380px;
  }
  .loginBtn {
    width: 380px;
    background-color: #643fdb;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    color: white;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 600px) {
  .input-w {
    width: 380px;
  }

  .rightGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background: #1c1243;
  }
}
@media only screen and (max-width: 900px) and (min-width: 600px) {
  .loginBtn {
    width: 250px;
    background-color: #643fdb;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    color: white;
  }
  .img {
    display: flex;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }
}
.poster-main {
  margin-left: 10px;
  padding-bottom: 10px;
}
.poster-m-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
}
.poster-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 30px;
  color: #ffffff;
}
